﻿@model IEnumerable<cStoreMVC.Data.linq.LinqMagazine>

@{
    ViewBag.Title = "Magazines";
}

<h2>Magazines</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MagazineTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuesPerYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Circulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishRate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MagazineTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuesPerYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Circulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishRate)
        </td>
    </tr>
}

    <tr>
        <td colspan="6" class="codeExample">sports magazines</td>


    </tr>



</table>
