﻿@model IEnumerable<cStoreMVC.Data.EF.Title>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3> total number of titles: @ViewBag.Count</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSiteFeature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGenreFeature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSiteFeature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsGenreFeature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TitleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TitleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TitleID })
        </td>
    </tr>
}

</table>
