﻿@model IEnumerable<cStoreMVC.Data.EF.Title>

@{
    ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>
@if (Model.Count()==0)
{
    <h2>the item searched was not found. please return and change your search criteria<br /></h2>    
    @Html.ActionLink("return to search","Search", "Titles")
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.BookTitle)*@
            @Html.ActionLink(item.BookTitle, "Details", new { @id = item.TitleID})
        </td>
        <td><img src="@Url.Content("~/content/images/books/" + item.BookImage)" title="@item.BookImage"/></td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
    </tr>
}

</table>
