﻿@model IEnumerable<cStore.Domain.Models.AuthorModel>
@{
    ViewBag.Title = "GetAuthors";
}

<h2 class="codeExample">Get Authors</h2>

<ul class="codeExample">
    @foreach (var item in Model)
    {
        <li class="codeExample">
            @*@item.FirstName @item.LastName*@
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
            <a href="@Url.Action("UpdateAuthor","AuthorsADO", new { @id = item.AuthorID})">[ Edit ]</a>
            <a href="@Url.Action("DeleteAuthor","AuthorsADO", new { @id = item.AuthorID})" onclick="return confirm('are you sure u want to delete @item.FirstName @item.LastName buddy?');">[ Delete ]</a> </li>

    }
</ul>