﻿@model cStore.Domain.Models.AuthorModel

@{
    ViewBag.Title = "Update Author";
}


<h2 class="codeExample">Update Author</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.AuthorID)

    <div class="form-horizontal">

        <div clas="form-group">
            <label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

        </div>
        <div clas="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div clas="form-group">
            <label class="control-label col-md-2">city</label>
            <div class="col-md-10">@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })</div>
        </div>
        <div clas="form-group">
            <label class="control-label col-md-2">state</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })


            </div>
        </div>
        <div clas="form-group">
            <label class="control-label col-md-2">zipcode</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div clas="form-group">
            <label class="control-label col-md-2">country</label>
            <div class="col-md-10">@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Author" class="btn btn-info" />
            </div>
        </div>
    </div>
}