﻿@model IEnumerable<cStore.Domain.Models.PublisherModel>
@{
    ViewBag.Title = "GetPublishers";
}

<h2 class="codeExample">Get Publishers</h2>

<ul class="codeExample">
    @foreach (var item in Model)
    {
        <li class="codeExample">
            @item.PublisherName |from|  @item.City , @item.State
        </li>
    }
</ul>